#ignore Binaries or compiled outputs
bin/
*.exe

#Ignore Environment files
.env
.env.local

#ignore OS files
.DS_Store

#ignore IDE folders
.vscode/

#ignore Test/Build artifacts
*.test
*.out

#vendor
vendor/

# Specific documents to ignore
Patent Format.pdf
patent_format_text.txt
Patent.docx

# AI agent configs
.agents/
.windsurfrules
